---
export interface Props {
  name: string;
  job: string;
  desc: string;
  image: string;
}

const { name, job, desc, image } = Astro.props;

import "../styles/Header.css";
import email from "../Logos/email.svg";
import linkedin from "../Logos/linkedin.svg";
import github from "../Logos/github.svg";

---

<div class="grid">
  <div class="column">
    <!-- Content for first column -->
    <h1>Hi I'm <span class="text-gradient"> {name}</span></h1>
    <h2>{job}</h2>
    <p>{desc}</p>
    <br/>
    <a href="resume.pdf" target="_blank">
      <button class="button">Resume</button>
    </a>
    <div class="container">
      <img src={email} alt="header" />
      <img src={linkedin} alt="header" />
      <img src={github} alt="header" />

    </div>
  </div>
  <div class="column">
    <!-- Content for second column -->
    <img src={image} alt="header" />
  </div>
</div>
